<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2 th:value="${headingvalue}"></h2>
<span th:text="${msg}" style="color:red"></span>
<form th:object="${acc}"  th:action="@{/updateamount}" method="post">
	<label>Account Number</label>
	<input type="number" th:field="*{accno}" ><br/>
	<label>Amount</label>
	<input type="number" th:field="*{amount}"><br/>
	<input type="submit" th:value="${buttonvalue}" name="submitButton"/>
	<input type="reset" value="reset"/><br/>
</form>
<a href="createaccpage">Create Account</a><br/>
<a href="depositpage">Deposit</a><br/>
<a href="withdrawpage">Withdraw</a><br/>
<a href="checkbalancepage">Check Balance</a>
</body>
</html>